.css-label{margin:0px 0px 0px 0px; width:200px;}
.css-input-x{width: 200px;margin:0px 0px 0px 0px;}
.css-input-xx{width: 600px;margin:0px 0px 0px 0px;}
.css-form-table{border-collapse:separate;border-spacing:10px;}